.fx-container {
    margin: 0;
    overscroll-behavior: none;
    overflow: hidden;
    background-color: #000011;
    color: #DDD;
    font-family: Helvetica;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw !important;
    z-index: -1;
}

.fx-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
}